<%= month_calendar(attribute: :start_time, events: @events) do |date, events| %>
	<div class='calendar-box'>
		<strong><%= date.strftime("%e") %></strong>
	  <% events.each do |event| %>
	    <div>
	      <%= link_to event.title, event_path(event) %>
	      <p><%= ampm_time(event.start_time) %></p>
	    </div>	
	</div>
  <% end %>
<% end %>