<div class="verse-container">
	<div class="blockquote">
  		<p class="verse-content"><%= verse.content %></p>
  		<footer><cite title="#{<%= verse.citation %>}"><%= verse.citation %></cite></footer>
	</div>
	 
</div>