<!-- <img src="http://maps.google.com/maps/api/staticmap?center=<%=@address%>&zoom=15&size=512x512&maptype=roadmap&sensor=false&markers=color:blue%7Clabel:<%=@latlon%>&key=AIzaSyA04Evk0v9CxYCCYxYMpRYxl4vSem4fhkg"></img> -->
<div class="col-md-4">
	<h3>Trinity Baptist Church</h3>
	<h4>1819 North 16th Street</h4>
	<h4>Orange, Texas 77630</h4>
	<h4>409-886-1333</h4>
		</br>
	</br>
	<button class="btn">
		<a class="cursor-link" target='_blank' onclick="window.open('https://goo.gl/maps/iiYJdqraM9v', '_blank', 'width=800,height=520,left=200')">Directions</a>
	</button>
</div>
<div class="col-md-6">
	<div id="map" style="width:600px;height:600px"></div>
</div>
 


<script src="https://maps.googleapis.com/maps/api/js?key=<%=@key%>&callback=initMap"
    async defer></script>