<%= title "Our Pastor" %>
<div class="page-header">
	<h1> Rev. Gary Price</h1>
</div>
<div>
	<%= image_tag('pastor/446_GARY.jpg', width: '200') %>
	<p>Some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information some information</p>
</div>