<%= title "Our Purpose" %>
<div>
	<div class="col-md-6">
		<div class="panel">
	 		<div class="panel-heading">
				<h3>Our Purpose</h3>	
			</div>
	  		<div class="panel-body">
				<li>to worship God</li> 
				<li>to bring people to faith in Jesus Christ</li> 
				<li>to fellowship with believers</li> 
				<li>to lead people to spiritual maturity</li>
				<li>to equip believers for ministry and service</li>
			</div>
		</div>
		<div class="panel">
		 		<div class="panel-heading">
					<h3>Our Vision</h3>	
				</div>
		  		<div class="panel-body">
					<p>To be a "Great Commission" church, which exalts Jesus Christ as we seek to be fully obedient to Him.</p>
					<%= render 'partials/verse', { verse: @vision } %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		 <h3>In simple terms:</h3>
		 <p>We come together as Christians to worship our Lord Jesus Christ in prayer and song.</p>
 
        <p>"So we, being many, are one body in Christ, and every one members one of another."      Roman 12:5</p>
	</div>
	<div>
		 
	</div>
</div>