<%= title "Our Purpose" %>
<div class="row">
	<div class="col-md-8">
		<div class="panel">
	 		<div class="panel-heading panel-heading-large">
				<p>Our Purpose</p>	
			</div>
	  		<ul class="panel-body list-group">
				<li class="list-group-item no-border">To worship God</li> 
				<li class="list-group-item no-border">To bring people to faith in Jesus Christ</li> 
				<li class="list-group-item no-border">To fellowship with believers</li> 
				<li class="list-group-item no-border">To lead people to spiritual maturity</li>
				<li class="list-group-item no-border">To equip believers for ministry and service</li>
			</ul>
		</div>
		<div class="panel">
	 		<div class="panel-heading panel-heading-large">
				<p>Our Vision</p>	
			</div>
	  		<div class="panel-body">
				<p>To be a "Great Commission" church, which exalts Jesus Christ as we seek to be fully obedient to Him.</p>
			</div>
			<div class="panel-footer">
				<%= render 'partials/verse', { verse: @vision } %>
			</div>
		</div>
		<div class="panel">
	 		<div class="panel-heading panel-heading-large">
				<p>In simple terms</p>	
			</div>
	  		<div class="panel-body">
				<p>We come together as Christians to worship our Lord Jesus Christ in prayer and song.</p>
			</div>
			<div class="panel-footer">
				<%= render 'partials/verse', { verse: @simple } %>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
        	<div class="panel-heading">
	        	<p>Trinity Baptist Church is a member of the Southern Baptist Convention.  The foundation of our beliefs and values can be found at the links below.</p>
	        </div>
	    </div>
	</div>
</div>